<div class='wrapper'>
  <h2>Pricing</h2>
  <h1 class='js-fit'>Totally</h1>
  <h1 class='js-fit'>Freakin’</h1>
  <h1 class='js-fit'>Free.</h1>

  <div class='frhul'>
    <h2>But Seriously...</h2>
    <p>This site costs <strong>$269.77</strong> to maintain annually. Here's the cost breakdown:</p>
    <table>
      <thead>
	<tr>
	  <th>Item</th>
	  <th>Annual Cost</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td>updog.co domain</td>
	  <td>$22.99</td>
	</tr>
	<tr>
	  <td>updog.co domain WHOIS guard</td>
	  <td>$2.88</td>
	</tr>
	<tr>
	  <td>SSL Certificate (https://)</td>
	  <td>$99.90</td>
	</tr>
	<tr>
	  <td>DigitalOcean Droplet</td>
	  <td>$120.00</td>
	</tr>
	<tr>
	  <td>DigitalOcean Droplet Backups</td>
	  <td>$24.00</td>
	</tr>
	<tr>
	  <td>Total Annual Cost</td>
	  <td>$269.77</td>
	</tr>
      </tbody>
    </table>
    <p>Donations are not required but very much appreciated!</p>
    <a class='btn-create' href="mailto:jesse@jshawl.com?cc=cash@square.com&subject=$5">Donate $5</a>
    <small>(You can change the amount before confirming donation.)</small>
  </div>
</div>