<div class='wrapper'>
  <h2>Pricing</h2>
  <div class='frhul'>
    <table>
      <thead>
	<tr>
	  <th>Basic</th>
	  <th>Pro</th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td>1 Site</td>
	  <td>Unlimited Sites</td>
	</tr>
	<tr>
	  <td><code>/</code> or <code>/_site</code> document root</td>
	  <td>Custom Document Root</td>
	</tr>
	<tr>
	  <td>30 second cache time</td>
	  <td>5 second cache time</td>
	</tr>
	<tr>
	  <td>Free SSL for *.updog.co domains</td>
	  <td>Free SSL for any domain</td>
	</tr>
	<tr>
	  <td class='no'>No custom redirects</td>
	  <td>Custom Redirects</td>
	</tr>
	<tr>
	  <td class='no'>No support for Markdown Rendering</td>
	  <td>Support for Markdown Rendering</td>
	</tr>
	<tr>
	  <td>I will help you transfer your site from a web host.</td>
	  <td>I will help you transfer your site from a web host.</td>
	</tr>
	<tr>
	  <td>
	    Free (as in beer)
	  </td>
	  <td>
	    <a class='btn-create' href="mailto:jesse@jshawl.com?cc=cash@square.com&subject=$5">$5 / month</a>
	  </td>
	</tr>
      </tbody>
    </table>
  </div>
</div>