<div class='wrapper'>
<h2>Thank you!</h2>

<p>You have successfully upgraded your account to a Pro membership!</p>
<p>Why not brag about it?</p>

<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>

<a data-size="large" href="https://twitter.com/intent/tweet?text=I just went Pro on updog.co!" class="twitter-hashtag-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=144081445685803";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-share-button" data-href="https://updog.co/" data-layout="button" data-size="large" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fupdog.co%2F&amp;src=sdkpreparse">Share</a></div>

<h3>Now that you're Pro, you can...</h3>
<ul>
  <li><a href='/new'>Create as many sites as you like</a></li>
  <li><a href='https://jshawl.updog.co/markdown-example.md'>Start using markdown</a></li>
  <li><a href='/news/deploy-middleman-sites/'>Configure custom document roots</a></li>
</ul>

<h3>Looking for more?</h3>

<p>We’re always listening and looking for ways to improve. Let us know!</p>

<ul>
  <li><a href='/contact'>Contact us</a></li>
  <li><a href='https://docs.google.com/forms/d/e/1FAIpQLSffDieMhqaIffL0luVG__kCQnivQZc9ai1rWUkQHRv2LwyWhA/viewform'>Give us feedback</a></li>
</ul>
</div>
