form label{
  display:block;
  font-weight:bold;
  margin-top:.5em;
}

input[type="text"],
input[type="password"]{
  padding:.5em 1em;
}

.password-protect{
  border:1px solid #ccc;
  padding:1em;
  margin-bottom:1em;
  border-radius:5px;
}
